@font-face {
    font-family: Inter;
    src: url("./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: InterItalic;
    src: url("./assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf");
}
@font-face {
    font-family: MartianMono;
    src: url("./assets/fonts/martian-mono/MartianMono-VariableFont_wdth\,wght.ttf");
}

:root {
    box-sizing: border-box;
    font-size: 16px;
    --neutral-900: #062630;
    --neutral-700: #385159;
    --neutral-200: #E6E1DF;
    --neutral-50: #FAF5F3;
    --light-salmon-500: rgb(254,163,111);
    --light-salmon-100: rgb(255,226,209);
    --light-salmon-50: rgb(255,245,239);
    font-family: MartianMono, sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.text-preset1 {
    font-family: MartianMono;
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
}
.text-preset2 {
    font-family: MartianMono;
    font-size: 34px;
    line-height: 130%;
    font-weight: 600;
}
.text-preset3 {
    font-family: MartianMono;
    font-size: 24px;
    line-height: 110%;
    font-weight: 600;
}
.text-preset4 {
    font-family: MartianMono;
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
}
.text-preset4-semibold {
    font-family: MartianMono;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
}
.text-preset5 {
    font-family: Inter;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
}
.text-preset5-semibold {
    font-family: Inter;
    font-size: 20px;
    line-height: 140%;
    font-weight: 600;
}
.text-preset6 {
    font-family: MartianMono;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
}
.text-preset7 {
    font-family: MartianMono;
    font-size: 14px;
    line-height: 120%;
    font-weight: 400;
}
.centered {
    text-align: center;
}
.dark-bg {
    background-color: var(--neutral-900);
    color: var(--neutral-50);
}
.light-bg {
    background-color: var(--neutral-50);
    color: var(--neutral-900);
}
.light-salmon-bg {
    background-color: var(--light-salmon-100);
    color: var(--neutral-900);
}
.neutral-fg {
    color: var(--neutral-700);
}
.soft-neutral-fg {
    color: var(--neutral-50);
}
.primary-button {
    color: var(--neutral-900);
    background-color: var(--light-salmon-50);
    border-radius: 0.5em;
    border: solid 1px var(--neutral-900);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 1em 1em;
    margin: 1em 0;
}
.alternate-button {
    color: var(--light-salmon-50);
    background-color: var(--neutral-900);
    border-radius: 0.5em;
    border: solid 1px var(--light-salmon-50);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 1em 1em;
    margin: 1em 0;
}
.primary-button:hover, .primary-button:focus {
    background-image: linear-gradient(to left, var(--light-salmon-50) 0%, var(--light-salmon-100) 100%);
    cursor: pointer;
}
.alternate-button:hover, .alternate-button:focus {
    background-image: linear-gradient(to right, var(--neutral-700) 0%, var(--neutral-900) 100%);
    cursor: pointer;
}
h1, h2 {
    text-wrap: balance;
}
a {
    text-decoration: none;
    color: var(--neutral-700);
}
main {
    margin: 0 0.5em;
}
header {
    margin-bottom: 5em;
    padding-bottom: 0.5em;
    background-image: url('./assets/images/pattern-light-bg.svg'), url('./assets/images/pattern-glow.svg');
    background-position: center, bottom -700px right -700px;
    background-repeat: repeat, no-repeat;
}
section {
    padding-bottom: 4em;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centered-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.CTA-container {
    max-width: 25em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.CTA-container > button >  p {
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 0.5em;
}
.CTA-container > button >  p > img {
    vertical-align: middle;
}
#club-logo {
    height: 36px;
    align-self: flex-start;
    margin-bottom: 3em;
}
#header-container, #read-together, #not-your-average {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    margin-bottom: 4em;
}
#header-container h1 {
    padding: 0.5em 0em;
    letter-spacing: -2px;
    background-image: linear-gradient(to bottom right, var(--light-salmon-500) 0%, var(--neutral-900) 50%, #FFFFFF 100%);
    color: transparent;
    background-clip: text;
}
#hero-image, 
#read-together-image, 
#not-average-image {
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
}
.avatar-area {
    display: flex;
    flex-direction: row;
}
.avatar-area > img {
    width: 30%;
    object-fit: contain;
}
.five-stars {
    display: flex;
}
.five-stars > img {
    width: 24px;
}
.avatar-area > div {
    width: 70%;
    padding-left: 1em;
}
.avatar-area > div > p {
    letter-spacing: -1px;
}
#read-together ul {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
ul >li {
    letter-spacing: -0.5px;
    display:flex;
    align-items:center
}
li::marker {
    content: none;
}
li::before {
    content: url('./assets/images/icon-check.svg');
    margin-right: 1em;
}
li {
    margin: 0.5em;
}
.circled-text {
    position: relative;
}
.circled-text > img {
    position: absolute;
    top: 0em;
    left: -0.25em;
    height: 1.5em;
    width: 3.0em;
}
#reading-journey {
    display: none;
    background-image: url('./assets/images/pattern-light-bg.svg'), url('./assets/images/pattern-glow.svg');
    background-position: center, bottom -700px right -700px;
    background-repeat: repeat, no-repeat;
}
#reading-journey > h2 {
    padding: 1em 6em;
    margin: 1em auto;
    text-align: center;
}
#tech-logos {
    display: none;
}
#not-average-image {
    width: 100%;
    object-fit: cover;
}
#membership-option {
    display: flex;
    flex-direction: column;
}
#membership-option h2 {
    margin-bottom: 1em;
}
.option-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5em;
    align-items: center;
}
.option-card {
    flex: 1;
    padding: 1.5em;
    margin: 0.5em 0em;
    border: solid 1px var(--neutral-200);
    border-radius: 0.5em;
    width: 100%;
}
#pro-option {
    background: var(--light-salmon-50);
    background: radial-gradient(circle at 150% 150%, #9CC9DA 0%, var(--light-salmon-50) 50%);
}
.option-card > h3 {
    padding: 0.5em 0;
}
.option-card > button {
    padding: 0.5em 3em;
    margin: 1em auto;
}
.price-container {
    padding: 1em 0;
    border-bottom: solid 1px var(--neutral-200);
}
.features-container {
    margin: 0.5em 0;
}
#testimonial > * {
    margin-bottom: 2rem;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./assets/images/pattern-dark-bg.svg');
    background-repeat: repeat;
    border-radius: 1em 1em 0 0;
}
footer > button {
    margin: 1em auto 3em auto;
}
footer > button img {
    vertical-align: middle;
}
footer > .CTA-container {
    margin: 2em auto 0 auto;
}
footer a {
    color: var(--neutral-200);
}
#footer-text {
    margin-top: 1em;
}
.footer-content {
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(230,225,223, 0.1);
    margin: 2em 0.5em;
}
.social-media-container > img + img {
    margin-left: 1.5em;
}

@media only screen and (min-width: 496px) {
    .text-preset1 {
        font-size: 62px;
        line-height: 120%;
    }
    .text-preset2 {
        font-size: 50px;
        line-height: 130%;
    }
    .text-preset3 {
        font-size: 34px;
        line-height: 130%;
    }
    .text-preset6 {
        font-size: 18px;
    }
    main {
        margin: 0em 2em;
    }
    .picture-box {
        position: relative;
    }
    #tech-logos {
        display: block;
        position: absolute;
        width: 15%;
        top: 73%;
        left: 80%;
    }
    .option-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .option-card {
        max-width: 50%;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        margin: 7.5em 0em;
    }
    section {
        margin: 4em 7.5em;
    }
    .header-fg {
        margin: 1em 7.5em;
    }
    #header-container {
        flex-direction: row;
        gap: 4em;
    }
    #read-together {
        flex-direction: row-reverse;
        gap: 5em;
    }
    #not-your-average {
        flex-direction: row;
        gap: 5em;
    }
    #header-container > *,  #read-together > *, #not-your-average > * {
        flex: 1;
    }
    #tech-logos {
        width: 20%;
        top: 65%;
        left: -15%;
    }
    #reading-journey{
        display: flex;
        flex-direction: column;
    }
    #membership-option > h2 {
        text-align: center;
    }
    #option-container {
        display: flex;
        flex-direction:  row;
        gap: 1em;
    }
    #pro-option {
        padding: 2.5em 1.5em;
    }
    #pro-option > button {
        padding: 0.5em 4em;
        margin: 1em auto;
    }
    #testimonial {
        text-align: center;
        padding: 1em 7em;
    }
    #testimonial > .five-stars{
        justify-content: center;
    }
    .step-container {
        display: flex;
        flex-direction: row;
        gap: 4em;
    }
    .step-item {
        display: flex;
        flex-direction: column;
        flex: 1 1 20%;
    }
    .step-item > p {
        width: 13em;
    }
    .step-number {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        margin-bottom: 4em;
    }
    .step-number > p {
        flex: 0 1 10%;
    }
    .step-number-box {
        height: 3em;
        width: 3em;
        border: solid 1px black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer > h2 {
        padding: 1em 7em;
    }
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5em 3em;
    }
}
